Repository boostcampwm-2022/android06-mogle, pull requests merged in 2022-12, with the labels that each got.

#78 서로 다른 마커 클릭 관련 버그 수정
  presentation/src/main/java/com/wakeup/presentation/ui/home/map/MapFragment.kt
  presentation/src/main/java/com/wakeup/presentation/ui/home/map/MapHelper.kt
Labels: :paintbrush: ui, :framed_picture: home, :wrench: bugFix

#81 날씨 데이터 가져오기
  data/build.gradle.kts
  data/src/main/java/com/wakeup/data/di/DataSourceModule.kt
  data/src/main/java/com/wakeup/data/di/NetworkModule.kt
  data/src/main/java/com/wakeup/data/di/RepositoryModule.kt
  data/src/main/java/com/wakeup/data/network/mapper/WeatherResponseMapper.kt
  data/src/main/java/com/wakeup/data/network/request/LocationRequest.kt
  data/src/main/java/com/wakeup/data/network/response/WeatherResponse.kt
  data/src/main/java/com/wakeup/data/network/service/WeatherService.kt
  data/src/main/java/com/wakeup/data/repository/WeatherRepositoryImpl.kt
  data/src/main/java/com/wakeup/data/source/remote/weather/WeatherRemoteDataSource.kt
  data/src/main/java/com/wakeup/data/source/remote/weather/WeatherRemoteDataSourceImpl.kt
  domain/src/main/java/com/wakeup/domain/model/Weather.kt
  domain/src/main/java/com/wakeup/domain/model/WeatherType.kt
  domain/src/main/java/com/wakeup/domain/repository/WeatherRepository.kt
  domain/src/main/java/com/wakeup/domain/usecase/weather/GetWeatherDataUseCase.kt
  presentation/src/main/java/com/wakeup/presentation/mapper/WeatherModelMapper.kt
  presentation/src/main/java/com/wakeup/presentation/model/WeatherModel.kt
  presentation/src/main/java/com/wakeup/presentation/ui/MainActivity.kt
  presentation/src/main/java/com/wakeup/presentation/ui/MainViewModel.kt
  presentation/src/main/java/com/wakeup/presentation/ui/home/HomeFragment.kt
Labels: ✨ feature, :file_cabinet: data

#79 글로브 데이터 단과 연결 (글로브 보기 / 글로브 추가 / 상세 글로브 보기)
  data/build.gradle.kts
  data/src/main/java/com/wakeup/data/database/MogleDatabase.kt
  data/src/main/java/com/wakeup/data/database/dao/GlobeDao.kt
  data/src/main/java/com/wakeup/data/database/dao/MomentDao.kt
  data/src/main/java/com/wakeup/data/database/dao/PictureDao.kt
  data/src/main/java/com/wakeup/data/database/entity/MomentEntity.kt
  data/src/main/java/com/wakeup/data/database/entity/PictureEntity.kt
  data/src/main/java/com/wakeup/data/database/mapper/GlobeEntityMapper.kt
  data/src/main/java/com/wakeup/data/database/mapper/MomentEntityMapper.kt
  data/src/main/java/com/wakeup/data/database/mapper/PictureEntityMapper.kt
  data/src/main/java/com/wakeup/data/di/DataSourceModule.kt
  data/src/main/java/com/wakeup/data/di/DatabaseModule.kt
  data/src/main/java/com/wakeup/data/di/RepositoryModule.kt
  data/src/main/java/com/wakeup/data/repository/GlobeRepositoryImpl.kt
  data/src/main/java/com/wakeup/data/repository/MomentRepositoryImpl.kt
  data/src/main/java/com/wakeup/data/repository/PictureRepositoryImpl.kt
  data/src/main/java/com/wakeup/data/source/local/globe/GlobeLocalDataSource.kt
  data/src/main/java/com/wakeup/data/source/local/globe/GlobeLocalDataSourceImpl.kt
  data/src/main/java/com/wakeup/data/source/local/moment/MomentLocalDataSource.kt
  data/src/main/java/com/wakeup/data/source/local/moment/MomentLocalDataSourceImpl.kt
  data/src/main/java/com/wakeup/data/source/local/picture/PictureLocalDataSource.kt
  data/src/main/java/com/wakeup/data/source/local/picture/PictureLocalDataSourceImpl.kt
  data/src/main/java/com/wakeup/data/util/InternalFileUtil.kt
  domain/src/main/java/com/wakeup/domain/model/Globe.kt
  domain/src/main/java/com/wakeup/domain/model/Picture.kt
  domain/src/main/java/com/wakeup/domain/repository/GlobeRepository.kt
  domain/src/main/java/com/wakeup/domain/repository/MomentRepository.kt
  domain/src/main/java/com/wakeup/domain/repository/PictureRepository.kt
  domain/src/main/java/com/wakeup/domain/usecase/GetGlobesUseCase.kt
  domain/src/main/java/com/wakeup/domain/usecase/SaveMomentUseCase.kt
  presentation/src/main/java/com/wakeup/presentation/adapter/BindingAdapters.kt
  presentation/src/main/java/com/wakeup/presentation/adapter/DetailPictureAdapter.kt
  presentation/src/main/java/com/wakeup/presentation/adapter/GlobeAdapter.kt
  presentation/src/main/java/com/wakeup/presentation/adapter/GlobeDetailAdapter.kt
  presentation/src/main/java/com/wakeup/presentation/adapter/PictureAdapter.kt
  presentation/src/main/java/com/wakeup/presentation/extension/Extensions.kt
  presentation/src/main/java/com/wakeup/presentation/lib/MogleDialog.kt
  presentation/src/main/java/com/wakeup/presentation/mapper/GlobeModelMapper.kt
  presentation/src/main/java/com/wakeup/presentation/mapper/PictureModelMapper.kt
  presentation/src/main/java/com/wakeup/presentation/model/GlobeModel.kt
  presentation/src/main/java/com/wakeup/presentation/model/PictureModel.kt
  presentation/src/main/java/com/wakeup/presentation/ui/addmoment/AddMomentFragment.kt
  presentation/src/main/java/com/wakeup/presentation/ui/globe/GlobeDetailFragment.kt
  presentation/src/main/java/com/wakeup/presentation/ui/globe/GlobeDetailViewModel.kt
  presentation/src/main/java/com/wakeup/presentation/ui/globe/GlobeFragment.kt
  presentation/src/main/java/com/wakeup/presentation/ui/globe/GlobeViewModel.kt
  presentation/src/main/java/com/wakeup/presentation/ui/globe/GridSpaceItemDecoration.kt
  presentation/src/main/java/com/wakeup/presentation/ui/home/map/MapHelper.kt
  presentation/src/main/res/layout/fragment_globe.xml
  presentation/src/main/res/layout/fragment_globe_detail.xml
  presentation/src/main/res/layout/item_globe.xml
  presentation/src/main/res/layout/item_map_marker.xml
  presentation/src/main/res/layout/item_moment.xml
  presentation/src/main/res/layout/item_moment_in_globe.xml
  presentation/src/main/res/layout/item_moment_preview.xml
  presentation/src/main/res/layout/item_picture.xml
  presentation/src/main/res/layout/list_item_detail_picture.xml
  presentation/src/main/res/navigation/nav_graph.xml
  presentation/src/main/res/values/strings.xml
Labels: ✨ feature, :paintbrush: ui, :file_cabinet: data, 🖼️ globe

#80 Viewpager Indicator 커스텀 뷰 구현
  presentation/src/main/java/com/wakeup/presentation/customview/textindicator/TextPageIndicator.kt
  presentation/src/main/java/com/wakeup/presentation/customview/textindicator/TextViewPagerCallback.kt
  presentation/src/main/java/com/wakeup/presentation/ui/detail/MomentDetailFragment.kt
  presentation/src/main/res/layout/fragment_moment_detail.xml
  presentation/src/main/res/values/attrs.xml
Labels: :paintbrush: ui, :framed_picture: detail, 🔥 challenge

#82 Dialog refactor , 장소 확인 기본이미지 적용
  presentation/src/main/java/com/wakeup/presentation/adapter/BindingAdapters.kt
  presentation/src/main/java/com/wakeup/presentation/extension/Extensions.kt
  presentation/src/main/java/com/wakeup/presentation/lib/MogleDialog.kt
  presentation/src/main/java/com/wakeup/presentation/lib/dialog/BaseDialog.kt
  presentation/src/main/java/com/wakeup/presentation/lib/dialog/EditDialog.kt
  presentation/src/main/java/com/wakeup/presentation/lib/dialog/NormalDialog.kt
  presentation/src/main/java/com/wakeup/presentation/ui/globe/GlobeFragment.kt
Labels: 🔥 challenge

#85 홈 화면 날씨 UI
  data/build.gradle.kts
  data/src/main/java/com/wakeup/data/network/mapper/WeatherResponseMapper.kt
  domain/src/main/java/com/wakeup/domain/model/WeatherType.kt
  presentation/src/main/java/com/wakeup/presentation/ui/MainActivity.kt
  presentation/src/main/java/com/wakeup/presentation/ui/home/HomeFragment.kt
  presentation/src/main/java/com/wakeup/presentation/ui/home/HomeViewModel.kt
  presentation/src/main/res/drawable/ic_cloudy.xml
  presentation/src/main/res/drawable/ic_night.xml
  presentation/src/main/res/drawable/ic_sunny.xml
  presentation/src/main/res/layout/fragment_home.xml
  presentation/src/main/res/values-night/styles.xml
  presentation/src/main/res/values/strings.xml
  presentation/src/main/res/values/styles.xml
Labels: ✨ feature, :paintbrush: ui, :framed_picture: home

#86 Splash 구현 / UiState 구현 / 검색 시 마커 필터링
  app/src/main/AndroidManifest.xml
  app/src/main/res/values/themes.xml
  buildSrc/src/main/java/com/wakeup/buildsrc/Depends.kt
  data/src/main/java/com/wakeup/data/database/dao/MomentDao.kt
  data/src/main/java/com/wakeup/data/repository/MomentRepositoryImpl.kt
  data/src/main/java/com/wakeup/data/source/local/moment/MomentLocalDataSource.kt
  data/src/main/java/com/wakeup/data/source/local/moment/MomentLocalDataSourceImpl.kt
  domain/src/main/java/com/wakeup/domain/repository/MomentRepository.kt
  domain/src/main/java/com/wakeup/domain/usecase/GetAllMomentsUseCase.kt
  presentation/build.gradle.kts
  presentation/src/main/java/com/wakeup/presentation/lib/dialog/BaseDialog.kt
  presentation/src/main/java/com/wakeup/presentation/ui/MainActivity.kt
  presentation/src/main/java/com/wakeup/presentation/ui/MainViewModel.kt
  presentation/src/main/java/com/wakeup/presentation/ui/UiState.kt
  presentation/src/main/java/com/wakeup/presentation/ui/addmoment/AddMomentFragment.kt
  presentation/src/main/java/com/wakeup/presentation/ui/addmoment/AddMomentViewModel.kt
  presentation/src/main/java/com/wakeup/presentation/ui/home/HomeFragment.kt
  presentation/src/main/java/com/wakeup/presentation/ui/home/HomeViewModel.kt
  presentation/src/main/java/com/wakeup/presentation/ui/home/map/MapFragment.kt
  presentation/src/main/java/com/wakeup/presentation/ui/home/map/MapHelper.kt
  presentation/src/main/java/com/wakeup/presentation/util/Constants.kt
  presentation/src/main/res/layout/dialog_loading.xml
  presentation/src/main/res/layout/toolbar_default.xml
Labels: ✨ feature, :paintbrush: ui, :framed_picture: home

#88 글로브 썸네일
  data/src/main/java/com/wakeup/data/database/dao/GlobeDao.kt
  data/src/main/java/com/wakeup/data/database/dao/MomentDao.kt
  data/src/main/java/com/wakeup/data/database/entity/GlobeEntity.kt
  data/src/main/java/com/wakeup/data/database/mapper/GlobeEntityMapper.kt
  data/src/main/java/com/wakeup/data/repository/GlobeRepositoryImpl.kt
  data/src/main/java/com/wakeup/data/repository/MomentRepositoryImpl.kt
  data/src/main/java/com/wakeup/data/source/local/globe/GlobeLocalDataSource.kt
  data/src/main/java/com/wakeup/data/source/local/globe/GlobeLocalDataSourceImpl.kt
  data/src/main/java/com/wakeup/data/source/local/moment/MomentLocalDataSource.kt
  data/src/main/java/com/wakeup/data/source/local/moment/MomentLocalDataSourceImpl.kt
  domain/src/main/java/com/wakeup/domain/model/Globe.kt
  domain/src/main/java/com/wakeup/domain/repository/GlobeRepository.kt
  domain/src/main/java/com/wakeup/domain/repository/MomentRepository.kt
  domain/src/main/java/com/wakeup/domain/usecase/DeleteMomentInGlobeUseCase.kt
  domain/src/main/java/com/wakeup/domain/usecase/InsertMomentInGlobeUseCase.kt
  domain/src/main/java/com/wakeup/domain/usecase/globe/CreateGlobeUseCase.kt
  domain/src/main/java/com/wakeup/domain/usecase/globe/DeleteGlobeUseCase.kt
  domain/src/main/java/com/wakeup/domain/usecase/globe/DeleteMomentInGlobeUseCase.kt
  domain/src/main/java/com/wakeup/domain/usecase/globe/GetGlobesUseCase.kt
  domain/src/main/java/com/wakeup/domain/usecase/globe/GetMomentsByGlobeUseCase.kt
  domain/src/main/java/com/wakeup/domain/usecase/globe/InsertMomentInGlobeUseCase.kt
  domain/src/main/java/com/wakeup/domain/usecase/globe/UpdateGlobeUseCase.kt
  domain/src/main/java/com/wakeup/domain/usecase/moment/GetAllMomentsUseCase.kt
  domain/src/main/java/com/wakeup/domain/usecase/moment/GetMomentListUseCase.kt
  domain/src/main/java/com/wakeup/domain/usecase/moment/SaveMomentUseCase.kt
  domain/src/main/java/com/wakeup/domain/usecase/place/SearchPlaceUseCase.kt
  presentation/src/main/java/com/wakeup/presentation/factory/FakeMomentFactory.kt
  presentation/src/main/java/com/wakeup/presentation/mapper/GlobeModelMapper.kt
  presentation/src/main/java/com/wakeup/presentation/model/GlobeModel.kt
  presentation/src/main/java/com/wakeup/presentation/ui/MainViewModel.kt
  presentation/src/main/java/com/wakeup/presentation/ui/addmoment/AddMomentViewModel.kt
  presentation/src/main/java/com/wakeup/presentation/ui/addmoment/PlaceSearchViewModel.kt
  presentation/src/main/java/com/wakeup/presentation/ui/globe/GlobeDetailViewModel.kt
  presentation/src/main/java/com/wakeup/presentation/ui/globe/GlobeViewModel.kt
  presentation/src/main/java/com/wakeup/presentation/ui/home/HomeViewModel.kt
Labels: ✨ feature, :file_cabinet: data, 🖼️ globe

#91 모먼트 삭제 기능 구현
  data/src/main/java/com/wakeup/data/database/dao/MomentDao.kt
  data/src/main/java/com/wakeup/data/database/dao/PictureDao.kt
  data/src/main/java/com/wakeup/data/database/dao/XRefDao.kt
  data/src/main/java/com/wakeup/data/database/entity/MomentWithPictures.kt
  data/src/main/java/com/wakeup/data/repository/MomentRepositoryImpl.kt
  data/src/main/java/com/wakeup/data/source/local/moment/MomentLocalDataSource.kt
  data/src/main/java/com/wakeup/data/source/local/moment/MomentLocalDataSourceImpl.kt
  data/src/main/java/com/wakeup/data/util/InternalFileUtil.kt
  domain/src/main/java/com/wakeup/domain/repository/MomentRepository.kt
  domain/src/main/java/com/wakeup/domain/usecase/DeleteMomentUseCase.kt
  presentation/src/main/java/com/wakeup/presentation/ui/MainViewModel.kt
  presentation/src/main/java/com/wakeup/presentation/ui/addmoment/AddMomentFragment.kt
  presentation/src/main/java/com/wakeup/presentation/ui/home/HomeFragment.kt
  presentation/src/main/java/com/wakeup/presentation/ui/home/HomeViewModel.kt
  presentation/src/main/java/com/wakeup/presentation/ui/home/map/MapFragment.kt
  presentation/src/main/java/com/wakeup/presentation/ui/home/sheet/BottomSheetFragment.kt
Labels: ✨ feature, :file_cabinet: data, :framed_picture: detail

#93 Data layer에서 SaveMoment 부분 UseCase 로직 -> MomentDatasource 로…
  data/src/main/java/com/wakeup/data/database/dao/MomentDao.kt
  data/src/main/java/com/wakeup/data/database/entity/SuperMomentEntity.kt
  data/src/main/java/com/wakeup/data/database/mapper/MomentEntityMapper.kt
  data/src/main/java/com/wakeup/data/database/mapper/PictureEntityMapper.kt
  data/src/main/java/com/wakeup/data/di/DataSourceModule.kt
  data/src/main/java/com/wakeup/data/di/RepositoryModule.kt
  data/src/main/java/com/wakeup/data/repository/MomentRepositoryImpl.kt
  data/src/main/java/com/wakeup/data/repository/PictureRepositoryImpl.kt
  data/src/main/java/com/wakeup/data/repository/RelationRepositoryImpl.kt
  data/src/main/java/com/wakeup/data/source/local/moment/MomentLocalDataSource.kt
  data/src/main/java/com/wakeup/data/source/local/moment/MomentLocalDataSourceImpl.kt
  data/src/main/java/com/wakeup/data/source/local/picture/PictureLocalDataSource.kt
  data/src/main/java/com/wakeup/data/source/local/picture/PictureLocalDataSourceImpl.kt
  data/src/main/java/com/wakeup/data/source/local/xref/XRefLocalDataSource.kt
  data/src/main/java/com/wakeup/data/source/local/xref/XRefLocalDataSourceImpl.kt
  data/src/main/java/com/wakeup/data/util/InternalFileUtil.kt
  domain/src/main/java/com/wakeup/domain/repository/MomentRepository.kt
  domain/src/main/java/com/wakeup/domain/repository/PictureRepository.kt
  domain/src/main/java/com/wakeup/domain/repository/RelationRepository.kt
  domain/src/main/java/com/wakeup/domain/usecase/moment/SaveMomentUseCase.kt
Labels: :file_cabinet: data

#96 장소 이미지 크롤링 제거, 홈화면 StatusBar 투명 처리, FAB 변화 버그 해결, 홈 -> 글로브 UI 튀는 버그 해결, FAB 아래 터치 버그 해결
  app/src/main/res/values-night/themes.xml
  app/src/main/res/values/themes.xml
  data/src/main/java/com/wakeup/data/di/DataSourceModule.kt
  data/src/main/java/com/wakeup/data/di/NetworkModule.kt
  data/src/main/java/com/wakeup/data/di/RepositoryModule.kt
  data/src/main/java/com/wakeup/data/network/mapper/ImageSearchResponseMapper.kt
  data/src/main/java/com/wakeup/data/network/response/ImageSearchResponse.kt
  data/src/main/java/com/wakeup/data/network/service/ImageSearchService.kt
  data/src/main/java/com/wakeup/data/repository/ImageSearchRepositoryImpl.kt
  data/src/main/java/com/wakeup/data/source/remote/imageSearch/ImageSearchRemoteDataSource.kt
  data/src/main/java/com/wakeup/data/source/remote/imageSearch/ImageSearchRemoteDataSourceImpl.kt
  domain/src/main/java/com/wakeup/domain/model/Place.kt
  domain/src/main/java/com/wakeup/domain/repository/ImageSearchRepository.kt
  domain/src/main/java/com/wakeup/domain/usecase/search/SearchImageUseCase.kt
  domain/src/main/java/com/wakeup/domain/usecase/search/SearchPlaceUseCase.kt
  presentation/src/main/java/com/wakeup/presentation/extension/Extensions.kt
  presentation/src/main/java/com/wakeup/presentation/ui/MainActivity.kt
  presentation/src/main/java/com/wakeup/presentation/ui/addmoment/PlaceCheckFragment.kt
  presentation/src/main/java/com/wakeup/presentation/ui/addmoment/PlaceCheckViewModel.kt
  presentation/src/main/java/com/wakeup/presentation/ui/addmoment/PlaceSearchViewModel.kt
  presentation/src/main/java/com/wakeup/presentation/ui/home/HomeFragment.kt
  presentation/src/main/res/animator/nav_default_enter_anim.xml
  presentation/src/main/res/animator/nav_default_exit_anim.xml
  presentation/src/main/res/animator/nav_default_pop_enter_anim.xml
  presentation/src/main/res/animator/nav_default_pop_exit_anim.xml
  presentation/src/main/res/layout/fragment_home.xml
  presentation/src/main/res/layout/fragment_map.xml
  presentation/src/main/res/layout/layout_drawer.xml
  presentation/src/main/res/menu/menu_bottom_nav.xml
  presentation/src/main/res/values-night/styles.xml
Labels: 🐞 bug, :paintbrush: ui

#94 글로브 부분에서 글로브 삭제 / 글로브 내 모먼트 추가 / 없음 처리 / 스낵바 위치 / 예외 처리
  data/src/main/java/com/wakeup/data/database/dao/XRefDao.kt
  presentation/src/main/java/com/wakeup/presentation/adapter/GlobeDetailPagingAdapter.kt
  presentation/src/main/java/com/wakeup/presentation/adapter/MomentPagingAdapter.kt
  presentation/src/main/java/com/wakeup/presentation/adapter/SaveReadyMomentAdapter.kt
  presentation/src/main/java/com/wakeup/presentation/extension/Extensions.kt
  presentation/src/main/java/com/wakeup/presentation/lib/dialog/BaseDialog.kt
  presentation/src/main/java/com/wakeup/presentation/lib/dialog/EditDialog.kt
  presentation/src/main/java/com/wakeup/presentation/ui/globe/AddMomentInGlobeViewModel.kt
  presentation/src/main/java/com/wakeup/presentation/ui/globe/GlobeFragment.kt
  presentation/src/main/java/com/wakeup/presentation/ui/globe/GlobeViewModel.kt
  presentation/src/main/java/com/wakeup/presentation/ui/globe/globedetail/AddMomentInGlobeFragment.kt
  presentation/src/main/java/com/wakeup/presentation/ui/globe/globedetail/AddMomentInGlobeViewModel.kt
  presentation/src/main/java/com/wakeup/presentation/ui/globe/globedetail/DeleteMomentInGlobeFragment.kt
  presentation/src/main/java/com/wakeup/presentation/ui/globe/globedetail/DeleteMomentInGlobeViewModel.kt
  presentation/src/main/java/com/wakeup/presentation/ui/globe/globedetail/GlobeDetailFragment.kt
  presentation/src/main/java/com/wakeup/presentation/ui/globe/globedetail/GlobeDetailViewModel.kt
  presentation/src/main/res/layout/dialog_add_globe.xml
  presentation/src/main/res/layout/dialog_delete_globe.xml
  presentation/src/main/res/layout/fragment_add_moment_in_globe.xml
  presentation/src/main/res/layout/fragment_delete_moment_in_globe.xml
  presentation/src/main/res/layout/fragment_globe.xml
  presentation/src/main/res/layout/fragment_globe_detail.xml
  presentation/src/main/res/layout/item_globe.xml
  presentation/src/main/res/layout/item_moment_in_globe.xml
  presentation/src/main/res/menu/menu_globe_detail_toolbar.xml
  presentation/src/main/res/navigation/nav_graph.xml
  presentation/src/main/res/values/dimens.xml
  presentation/src/main/res/values/strings.xml
Labels: ✨ feature, :paintbrush: ui, 🖼️ globe

#97 모먼트 상세 페이지에서 사진 누르면 상세 사진 나오는 기능
  presentation/src/main/java/com/wakeup/presentation/adapter/DetailPictureAdapter.kt
  presentation/src/main/java/com/wakeup/presentation/lib/dialog/PictureDialog.kt
  presentation/src/main/java/com/wakeup/presentation/ui/detail/MomentDetailFragment.kt
  presentation/src/main/java/com/wakeup/presentation/ui/detail/MomentDetailViewModel.kt
  presentation/src/main/res/layout/dialog_delete_globe.xml
  presentation/src/main/res/layout/dialog_image.xml
  presentation/src/main/res/layout/dialog_loading.xml
Labels: ✨ feature, :paintbrush: ui, :framed_picture: detail

#99 날씨와 시간에 따른 테마 변경 기능
  buildSrc/src/main/java/com/wakeup/buildsrc/Depends.kt
  presentation/build.gradle.kts
  presentation/src/main/java/com/wakeup/presentation/adapter/BindingAdapters.kt
  presentation/src/main/java/com/wakeup/presentation/ui/MainActivity.kt
  presentation/src/main/java/com/wakeup/presentation/ui/MainViewModel.kt
  presentation/src/main/java/com/wakeup/presentation/ui/home/HomeFragment.kt
  presentation/src/main/java/com/wakeup/presentation/ui/home/HomeViewModel.kt
  presentation/src/main/java/com/wakeup/presentation/ui/home/map/MapFragment.kt
  presentation/src/main/java/com/wakeup/presentation/ui/home/map/MapHelper.kt
  presentation/src/main/java/com/wakeup/presentation/util/SharedPrefManager.kt
  presentation/src/main/java/com/wakeup/presentation/util/theme/ThemeHelper.kt
  presentation/src/main/res/drawable/ic_no_weather.xml
  presentation/src/main/res/layout/fragment_home.xml
  presentation/src/main/res/raw/ic_circle_loading_black.json
  presentation/src/main/res/raw/ic_circle_loading_white.json
  presentation/src/main/res/values/attrs.xml
  presentation/src/main/res/values/themes.xml
Labels: ✨ feature, :paintbrush: ui

#100 각종 버그 수정
  buildSrc/src/main/java/com/wakeup/buildsrc/Depends.kt
  presentation/src/main/java/com/wakeup/presentation/extension/Extensions.kt
  presentation/src/main/java/com/wakeup/presentation/lib/dialog/BaseDialog.kt
  presentation/src/main/java/com/wakeup/presentation/lib/dialog/EditDialog.kt
  presentation/src/main/java/com/wakeup/presentation/lib/dialog/NormalDialog.kt
  presentation/src/main/java/com/wakeup/presentation/lib/dialog/PictureDialog.kt
  presentation/src/main/java/com/wakeup/presentation/ui/MainActivity.kt
  presentation/src/main/java/com/wakeup/presentation/ui/addmoment/AddMomentFragment.kt
  presentation/src/main/java/com/wakeup/presentation/ui/detail/MomentDetailFragment.kt
  presentation/src/main/java/com/wakeup/presentation/ui/globe/GlobeFragment.kt
  presentation/src/main/java/com/wakeup/presentation/ui/globe/globedetail/GlobeDetailFragment.kt
  presentation/src/main/java/com/wakeup/presentation/ui/home/HomeFragment.kt
  presentation/src/main/java/com/wakeup/presentation/ui/home/HomeViewModel.kt
  presentation/src/main/java/com/wakeup/presentation/ui/home/map/MapFragment.kt
  presentation/src/main/java/com/wakeup/presentation/ui/home/map/MapHelper.kt
  presentation/src/main/java/com/wakeup/presentation/ui/home/sheet/BottomSheetFragment.kt
  presentation/src/main/java/com/wakeup/presentation/util/Constants.kt
  presentation/src/main/res/layout/dialog_add_globe.xml
  presentation/src/main/res/layout/dialog_delete_globe.xml
  presentation/src/main/res/layout/fragment_home.xml
  presentation/src/main/res/layout/layout_drawer.xml
  presentation/src/main/res/values/strings.xml
Labels: 🐞 bug

#103 테마 변경후 같은 Dialog 를 다시 띄우면 앱이 터지거나 이전 테마로 뜨는 현상 해결
  app/src/main/AndroidManifest.xml
  presentation/src/main/java/com/wakeup/presentation/lib/dialog/EditDialog.kt
  presentation/src/main/java/com/wakeup/presentation/lib/dialog/NormalDialog.kt
  presentation/src/main/java/com/wakeup/presentation/lib/dialog/PictureDialog.kt
Labels: 🐞 bug

#104 리드미 수정
  README.md
  docs/img/add_moment_globe.jpg
  docs/img/architecture.png
  docs/img/bottom_sheet.jpg
  docs/img/detail_globe.jpg
  docs/img/globe.jpg
  docs/img/home_bright.jpg
  docs/img/home_night.jpg
  docs/img/icon_black.png
  docs/img/icon_mint.png
  docs/img/icon_white.png
  docs/img/moment_night.jpg
  docs/img/save_moment.jpg
  docs/img/select_place.jpg
Labels: documentation

#105 글로브 상세에서 글로브 이름 변경시에 중복 이름 체크 안했음 -> 해결
  presentation/src/main/java/com/wakeup/presentation/ui/globe/globedetail/GlobeDetailFragment.kt
  presentation/src/main/java/com/wakeup/presentation/ui/globe/globedetail/GlobeDetailViewModel.kt
  presentation/src/main/res/values/strings.xml
Labels: 🐞 bug

#106 모먼트 수정 / 삭제 기능 구현
  data/src/main/java/com/wakeup/data/database/dao/MomentDao.kt
  data/src/main/java/com/wakeup/data/database/mapper/MomentEntityMapper.kt
  data/src/main/java/com/wakeup/data/repository/MomentRepositoryImpl.kt
  data/src/main/java/com/wakeup/data/source/local/moment/MomentLocalDataSource.kt
  data/src/main/java/com/wakeup/data/source/local/moment/MomentLocalDataSourceImpl.kt
  data/src/main/java/com/wakeup/data/util/InternalFileUtil.kt
  domain/src/main/java/com/wakeup/domain/repository/MomentRepository.kt
  domain/src/main/java/com/wakeup/domain/usecase/moment/GetMomentUseCase.kt
  domain/src/main/java/com/wakeup/domain/usecase/moment/UpdateMomentUseCase.kt
  presentation/src/main/java/com/wakeup/presentation/adapter/BindingAdapters.kt
  presentation/src/main/java/com/wakeup/presentation/adapter/DetailPictureAdapter.kt
  presentation/src/main/java/com/wakeup/presentation/adapter/GlobeDetailPagingAdapter.kt
  presentation/src/main/java/com/wakeup/presentation/ui/addmoment/AddMomentFragment.kt
  presentation/src/main/java/com/wakeup/presentation/ui/addmoment/AddMomentViewModel.kt
  presentation/src/main/java/com/wakeup/presentation/ui/detail/MomentDetailFragment.kt
  presentation/src/main/java/com/wakeup/presentation/ui/detail/MomentDetailViewModel.kt
  presentation/src/main/java/com/wakeup/presentation/ui/home/map/MapFragment.kt
  presentation/src/main/java/com/wakeup/presentation/ui/home/sheet/BottomSheetFragment.kt
  presentation/src/main/res/layout/dialog_delete_moment.xml
  presentation/src/main/res/layout/fragment_moment_detail.xml
  presentation/src/main/res/navigation/nav_graph.xml
  presentation/src/main/res/values/strings.xml
Labels: ✨ feature, :paintbrush: ui, :file_cabinet: data, :framed_picture: detail
