Repository boostcampwm-2022/android06-mogle, pull requests merged in 2022-11, with the labels that each got.

#28 [🖼️add 🗄️data] 모먼트 추가 및 모든 모먼트 받아오기
  app/build.gradle.kts
  buildSrc/src/main/java/com/wakeup/buildsrc/Depends.kt
  data/build.gradle.kts
  data/src/androidTest/java/com/wakeup/data/DataUnitTest.kt
  data/src/main/java/com/wakeup/data/Mapper.kt
  data/src/main/java/com/wakeup/data/database/MogleDatabase.kt
  data/src/main/java/com/wakeup/data/database/dao/MomentDao.kt
  data/src/main/java/com/wakeup/data/database/dao/keep
  data/src/main/java/com/wakeup/data/database/entity/GlobeEntity.kt
  data/src/main/java/com/wakeup/data/database/entity/MomentEntity.kt
  data/src/main/java/com/wakeup/data/database/entity/MomentGlobeEntity.kt
  data/src/main/java/com/wakeup/data/database/entity/MomentPictureEntity.kt
  data/src/main/java/com/wakeup/data/database/entity/PictureEntity.kt
  data/src/main/java/com/wakeup/data/database/entity/keep
  data/src/main/java/com/wakeup/data/di/DataSourceModule.kt
  data/src/main/java/com/wakeup/data/di/DatabaseModule.kt
  data/src/main/java/com/wakeup/data/di/RepositoryModule.kt
  data/src/main/java/com/wakeup/data/di/keep
  data/src/main/java/com/wakeup/data/model/LocationEntity.kt
  data/src/main/java/com/wakeup/data/repository/keep
  data/src/main/java/com/wakeup/data/repository/moment/MomentRepositoryImpl.kt
  data/src/main/java/com/wakeup/data/source/local/keep
  data/src/main/java/com/wakeup/data/source/local/moment/MomentLocalDataSource.kt
  data/src/main/java/com/wakeup/data/source/local/moment/MomentLocalDataSourceImpl.kt
  domain/src/main/java/com/wakeup/domain/model/Location.kt
  domain/src/main/java/com/wakeup/domain/model/Moment.kt
  domain/src/main/java/com/wakeup/domain/model/Picture.kt
  domain/src/main/java/com/wakeup/domain/model/keep
  domain/src/main/java/com/wakeup/domain/repository/MomentRepository.kt
  domain/src/main/java/com/wakeup/domain/repository/keep
  domain/src/main/java/com/wakeup/domain/usecase/GetMomentListUseCase.kt
  domain/src/main/java/com/wakeup/domain/usecase/SaveMomentUseCase.kt
  domain/src/main/java/com/wakeup/domain/usecase/keep
  presentation/src/main/java/com/wakeup/presentation/ui/MainActivity.kt
Labels: :file_cabinet: data, :framed_picture: add

#30 모먼트 리스트 UI 구성
  .github/workflows/android-ci.yml
  README.md
  app/build.gradle.kts
  app/src/main/res/values-night/themes.xml
  app/src/main/res/values/themes.xml
  data/build.gradle.kts
  presentation/build.gradle.kts
  presentation/src/main/java/com/wakeup/presentation/adapter/BindingAdapters.kt
  presentation/src/main/java/com/wakeup/presentation/adapter/MomentPagingAdapter.kt
  presentation/src/main/java/com/wakeup/presentation/model/MomentModel.kt
  presentation/src/main/java/com/wakeup/presentation/model/keep
  presentation/src/main/java/com/wakeup/presentation/ui/MainActivity.kt
  presentation/src/main/java/com/wakeup/presentation/ui/globe/GlobeFragment.kt
  presentation/src/main/java/com/wakeup/presentation/ui/map/MapFragment.kt
  presentation/src/main/java/com/wakeup/presentation/ui/map/MapViewModel.kt
  presentation/src/main/res/drawable/ic_add.xml
  presentation/src/main/res/drawable/ic_dragger.xml
  presentation/src/main/res/drawable/ic_globe.xml
  presentation/src/main/res/drawable/ic_home.xml
  presentation/src/main/res/layout/activity_main.xml
  presentation/src/main/res/layout/bottom_sheet.xml
  presentation/src/main/res/layout/fragment_globe.xml
  presentation/src/main/res/layout/fragment_map.xml
  presentation/src/main/res/layout/item_moment.xml
  presentation/src/main/res/layout/item_sort_menu.xml
  presentation/src/main/res/menu/menu_bottom_nav.xml
  presentation/src/main/res/navigation/nav_graph.xml
  presentation/src/main/res/values/colors.xml
  presentation/src/main/res/values/dimens.xml
  presentation/src/main/res/values/strings.xml
  presentation/src/main/res/values/styles.xml
Labels: :paintbrush: ui, :framed_picture: home

#35 모먼트 리스트 UI/Data 연동 및 페이징 처리
  .github/ISSUE_TEMPLATE/✨-feature-request.md
  .github/ISSUE_TEMPLATE/🐞-bug-report.md
  .github/workflows/android-cd.yml
  .github/workflows/android-ci.yml
  README.md
  data/src/main/java/com/wakeup/data/Mapper.kt
  data/src/main/java/com/wakeup/data/database/dao/MomentDao.kt
  data/src/main/java/com/wakeup/data/di/DataSourceModule.kt
  data/src/main/java/com/wakeup/data/di/RepositoryModule.kt
  data/src/main/java/com/wakeup/data/repository/moment/MomentRepositoryImpl.kt
  data/src/main/java/com/wakeup/data/source/local/moment/MomentLocalDataSource.kt
  data/src/main/java/com/wakeup/data/source/local/moment/MomentLocalDataSourceImpl.kt
  data/src/main/java/com/wakeup/data/source/local/moment/MomentLocalPagingSource.kt
  domain/src/main/java/com/wakeup/domain/model/Moment.kt
  domain/src/main/java/com/wakeup/domain/repository/MomentRepository.kt
  domain/src/main/java/com/wakeup/domain/usecase/GetMomentListUseCase.kt
  presentation/build.gradle.kts
  presentation/src/main/java/com/wakeup/presentation/model/MomentMapper.kt
  presentation/src/main/java/com/wakeup/presentation/model/MomentModel.kt
  presentation/src/main/java/com/wakeup/presentation/ui/MainActivity.kt
  presentation/src/main/java/com/wakeup/presentation/ui/map/MapFragment.kt
  presentation/src/main/java/com/wakeup/presentation/ui/map/MapViewModel.kt
  presentation/src/main/res/layout/item_moment.xml
Labels: :paintbrush: ui, :file_cabinet: data, :framed_picture: home

#33 모먼트 남기기 UI
  app/src/main/AndroidManifest.xml
  app/src/main/res/values/themes.xml
  presentation/src/main/java/com/wakeup/presentation/adapter/BindingAdapters.kt
  presentation/src/main/java/com/wakeup/presentation/adapter/PictureAdapter.kt
  presentation/src/main/java/com/wakeup/presentation/model/PlaceModel.kt
  presentation/src/main/java/com/wakeup/presentation/ui/addmoment/AddMomentFragment.kt
  presentation/src/main/java/com/wakeup/presentation/ui/addmoment/AddMomentViewModel.kt
  presentation/src/main/java/com/wakeup/presentation/util/BitmapUtil.kt
  presentation/src/main/java/com/wakeup/presentation/util/DateUtil.kt
  presentation/src/main/java/com/wakeup/presentation/util/keep
  presentation/src/main/res/drawable/bg_corner_8.xml
  presentation/src/main/res/drawable/bg_round.xml
  presentation/src/main/res/drawable/bg_sunny.png
  presentation/src/main/res/drawable/ic_add_24.xml
  presentation/src/main/res/drawable/ic_close_24.xml
  presentation/src/main/res/layout/fragment_add_moment.xml
  presentation/src/main/res/layout/item_picture.xml
  presentation/src/main/res/values/dimens.xml
  presentation/src/main/res/values/strings.xml
Labels: :paintbrush: ui, :framed_picture: add

#48 모먼트 장소 검색 및 이미지 저장 이슈
  .github/workflows/android-cd.yml
  .github/workflows/android-ci.yml
  buildSrc/src/main/java/com/wakeup/buildsrc/Depends.kt
  data/build.gradle.kts
  data/src/androidTest/java/com/wakeup/data/DataUnitTest.kt
  data/src/main/java/com/wakeup/data/database/entity/MomentEntity.kt
  data/src/main/java/com/wakeup/data/database/entity/PlaceEntity.kt
  data/src/main/java/com/wakeup/data/database/mapper/PlaceEntityMapper.kt
  data/src/main/java/com/wakeup/data/di/DataSourceModule.kt
  data/src/main/java/com/wakeup/data/di/NetworkModule.kt
  data/src/main/java/com/wakeup/data/di/RepositoryModule.kt
  data/src/main/java/com/wakeup/data/network/response/PlaceResponse.kt
  data/src/main/java/com/wakeup/data/network/response/keep
  data/src/main/java/com/wakeup/data/network/service/PlaceSearchService.kt
  data/src/main/java/com/wakeup/data/network/service/keep
  data/src/main/java/com/wakeup/data/repository/MomentRepositoryImpl.kt
  data/src/main/java/com/wakeup/data/repository/PlaceSearchRepositoryImpl.kt
  data/src/main/java/com/wakeup/data/source/remote/PlaceSearch/PlaceSearchRemoteDataSource.kt
  data/src/main/java/com/wakeup/data/source/remote/PlaceSearch/PlaceSearchRemoteDataSourceImpl.kt
  data/src/main/java/com/wakeup/data/source/remote/keep
  domain/src/main/java/com/wakeup/domain/repository/MomentRepository.kt
  domain/src/main/java/com/wakeup/domain/repository/PlaceSearchRepository.kt
  domain/src/main/java/com/wakeup/domain/usecase/PlaceSearchUseCase.kt
  domain/src/main/java/com/wakeup/domain/usecase/SaveMomentUseCase.kt
  presentation/build.gradle.kts
  presentation/src/main/java/com/wakeup/presentation/adapter/PictureAdapter.kt
  presentation/src/main/java/com/wakeup/presentation/adapter/PlaceAdapter.kt
  presentation/src/main/java/com/wakeup/presentation/mapper/PictureModelMapper.kt
  presentation/src/main/java/com/wakeup/presentation/model/MomentModel.kt
  presentation/src/main/java/com/wakeup/presentation/ui/addmoment/AddMomentFragment.kt
  presentation/src/main/java/com/wakeup/presentation/ui/addmoment/AddMomentViewModel.kt
  presentation/src/main/java/com/wakeup/presentation/ui/addmoment/PlaceSearchFragment.kt
  presentation/src/main/java/com/wakeup/presentation/ui/addmoment/PlaceSearchViewModel.kt
  presentation/src/main/java/com/wakeup/presentation/ui/globe/GlobeFragment.kt
  presentation/src/main/java/com/wakeup/presentation/util/DateUtil.kt
  presentation/src/main/res/drawable/ic_search_24.xml
  presentation/src/main/res/layout/activity_main.xml
  presentation/src/main/res/layout/fragment_add_moment.xml
  presentation/src/main/res/layout/fragment_place_search.xml
  presentation/src/main/res/layout/item_picture.xml
  presentation/src/main/res/layout/item_place.xml
  presentation/src/main/res/navigation/nav_graph.xml
  presentation/src/main/res/values/strings.xml
Labels: 🐞 bug, :paintbrush: ui, :framed_picture: add

#49 모먼트 리스트 Data/UI 연동 및 정렬 기능 구현
  app/src/main/res/values-night/themes.xml
  app/src/main/res/values/themes.xml
  data/src/androidTest/java/com/wakeup/data/DataUnitTest.kt
  data/src/main/java/com/wakeup/data/database/dao/MomentDao.kt
  data/src/main/java/com/wakeup/data/database/entity/LocationEntity.kt
  data/src/main/java/com/wakeup/data/database/entity/MomentEntity.kt
  data/src/main/java/com/wakeup/data/database/mapper/PlaceEntityMapper.kt
  data/src/main/java/com/wakeup/data/network/response/PlaceResponse.kt
  data/src/main/java/com/wakeup/data/repository/MomentRepositoryImpl.kt
  data/src/main/java/com/wakeup/data/source/local/moment/MomentLocalDataSource.kt
  data/src/main/java/com/wakeup/data/source/local/moment/MomentLocalDataSourceImpl.kt
  domain/src/main/java/com/wakeup/domain/model/Location.kt
  domain/src/main/java/com/wakeup/domain/model/Moment.kt
  domain/src/main/java/com/wakeup/domain/model/Place.kt
  domain/src/main/java/com/wakeup/domain/model/SortType.kt
  domain/src/main/java/com/wakeup/domain/repository/MomentRepository.kt
  domain/src/main/java/com/wakeup/domain/usecase/GetMomentListUseCase.kt
  domain/src/main/java/com/wakeup/domain/usecase/SaveMomentUseCase.kt
  domain/src/main/java/com/wakeup/domain/usecase/SearchPlaceUseCase.kt
  presentation/src/main/java/com/wakeup/presentation/factory/FakeMomentFactory.kt
  presentation/src/main/java/com/wakeup/presentation/mapper/MomentModelMapper.kt
  presentation/src/main/java/com/wakeup/presentation/mapper/PlaceModelMapper.kt
  presentation/src/main/java/com/wakeup/presentation/model/LocationModel.kt
  presentation/src/main/java/com/wakeup/presentation/model/MomentModel.kt
  presentation/src/main/java/com/wakeup/presentation/model/PlaceModel.kt
  presentation/src/main/java/com/wakeup/presentation/ui/addmoment/AddMomentFragment.kt
  presentation/src/main/java/com/wakeup/presentation/ui/addmoment/AddMomentViewModel.kt
  presentation/src/main/java/com/wakeup/presentation/ui/addmoment/PlaceSearchViewModel.kt
  presentation/src/main/java/com/wakeup/presentation/ui/map/MapFragment.kt
  presentation/src/main/java/com/wakeup/presentation/ui/map/MapViewModel.kt
  presentation/src/main/java/com/wakeup/presentation/util/DateUtil.kt
  presentation/src/main/res/layout/fragment_add_moment.xml
  presentation/src/main/res/layout/item_moment.xml
  presentation/src/main/res/navigation/nav_graph.xml
  presentation/src/main/res/values/strings.xml
Labels: :paintbrush: ui, :file_cabinet: data, :framed_picture: home

#51 Map Helper 역할 위임/지도 버튼 설정
  presentation/src/main/java/com/wakeup/presentation/ui/map/MapFragment.kt
  presentation/src/main/java/com/wakeup/presentation/ui/map/MapHelper.kt
  presentation/src/main/res/layout/fragment_map.xml
  presentation/src/main/res/values/dimens.xml
Labels: ✨ feature, :paintbrush: ui, :framed_picture: home

#56 내부 저장소에 이미지 추가 및 thumbnail 이미지 표기
  data/src/androidTest/java/com/wakeup/data/DataUnitTest.kt
  data/src/main/java/com/wakeup/data/database/dao/MomentDao.kt
  data/src/main/java/com/wakeup/data/database/entity/MomentEntity.kt
  data/src/main/java/com/wakeup/data/database/entity/MomentGlobeXRef.kt
  data/src/main/java/com/wakeup/data/database/entity/MomentPictureXRef.kt
  data/src/main/java/com/wakeup/data/database/entity/PictureEntity.kt
  data/src/main/java/com/wakeup/data/database/mapper/MomentEntityMapper.kt
  data/src/main/java/com/wakeup/data/database/mapper/PictureEntityMapper.kt
  data/src/main/java/com/wakeup/data/di/DatabaseModule.kt
  data/src/main/java/com/wakeup/data/di/RepositoryModule.kt
  data/src/main/java/com/wakeup/data/repository/MomentRepositoryImpl.kt
  data/src/main/java/com/wakeup/data/source/local/moment/MomentLocalDataSourceImpl.kt
  data/src/main/java/com/wakeup/data/util/InternalFileUtil.kt
  presentation/src/main/java/com/wakeup/presentation/mapper/PictureModelMapper.kt
  presentation/src/main/java/com/wakeup/presentation/ui/addmoment/AddMomentFragment.kt
Labels: ✨ feature, :file_cabinet: data, :framed_picture: home

#55 모먼트 남기기 장소 선택 및 장소 확인
  app/src/main/res/values/themes.xml
  data/src/main/java/com/wakeup/data/repository/MomentRepositoryImpl.kt
  data/src/main/java/com/wakeup/data/repository/PlaceSearchRepositoryImpl.kt
  data/src/main/java/com/wakeup/data/source/remote/PlaceSearch/PlaceSearchRemoteDataSource.kt
  data/src/main/java/com/wakeup/data/source/remote/PlaceSearch/PlaceSearchRemoteDataSourceImpl.kt
  domain/src/main/java/com/wakeup/domain/repository/PlaceSearchRepository.kt
  domain/src/main/java/com/wakeup/domain/usecase/SearchPlaceUseCase.kt
  presentation/build.gradle.kts
  presentation/src/main/java/com/wakeup/presentation/lib/MogleDialog.kt
  presentation/src/main/java/com/wakeup/presentation/model/LocationModel.kt
  presentation/src/main/java/com/wakeup/presentation/model/PlaceModel.kt
  presentation/src/main/java/com/wakeup/presentation/ui/MainActivity.kt
  presentation/src/main/java/com/wakeup/presentation/ui/addmoment/AddMomentFragment.kt
  presentation/src/main/java/com/wakeup/presentation/ui/addmoment/AddMomentViewModel.kt
  presentation/src/main/java/com/wakeup/presentation/ui/addmoment/PlaceCheckFragment.kt
  presentation/src/main/java/com/wakeup/presentation/ui/addmoment/PlaceSearchFragment.kt
  presentation/src/main/java/com/wakeup/presentation/ui/addmoment/PlaceSearchViewModel.kt
  presentation/src/main/java/com/wakeup/presentation/util/ToolbarUtil.kt
  presentation/src/main/res/drawable/ic_arrow_back.xml
  presentation/src/main/res/layout/fragment_add_moment.xml
  presentation/src/main/res/layout/fragment_place_check.xml
  presentation/src/main/res/layout/fragment_place_search.xml
  presentation/src/main/res/layout/toolbar_default.xml
  presentation/src/main/res/navigation/nav_graph.xml
  presentation/src/main/res/values-night/styles.xml
  presentation/src/main/res/values/strings.xml
  presentation/src/main/res/values/styles.xml
Labels: ✨ feature, :paintbrush: ui, :framed_picture: add

#57 모먼트 상세보기 UI
  presentation/src/main/java/com/wakeup/presentation/adapter/BindingAdapters.kt
  presentation/src/main/java/com/wakeup/presentation/adapter/DetailPictureAdapter.kt
  presentation/src/main/java/com/wakeup/presentation/factory/FakeMomentFactory.kt
  presentation/src/main/java/com/wakeup/presentation/model/MomentModel.kt
  presentation/src/main/java/com/wakeup/presentation/ui/detail/MomentDetailFragment.kt
  presentation/src/main/java/com/wakeup/presentation/ui/detail/MomentDetailViewModel.kt
  presentation/src/main/java/com/wakeup/presentation/ui/map/MapFragment.kt
  presentation/src/main/res/drawable/bg_sunny_header.png
  presentation/src/main/res/drawable/bg_text_indicator.xml
  presentation/src/main/res/drawable/sample_image2.jpg
  presentation/src/main/res/layout/fragment_map.xml
  presentation/src/main/res/layout/fragment_moment_detail.xml
  presentation/src/main/res/layout/list_item_detail_picture.xml
  presentation/src/main/res/navigation/nav_graph.xml
  presentation/src/main/res/values/colors.xml
  presentation/src/main/res/values/strings.xml
Labels: ✨ feature, :paintbrush: ui, :framed_picture: detail

#60 사진 저장 버그 수정 / save 되는 걸 join 후, backstack에서 pop으로 save 안되는 버그 수정
  app/src/main/AndroidManifest.xml
  data/src/main/java/com/wakeup/data/util/InternalFileUtil.kt
  presentation/src/main/java/com/wakeup/presentation/mapper/PictureModelMapper.kt
  presentation/src/main/java/com/wakeup/presentation/ui/addmoment/AddMomentFragment.kt
  presentation/src/main/java/com/wakeup/presentation/ui/addmoment/AddMomentViewModel.kt
Labels: :file_cabinet: data, :framed_picture: add, bugFix

#61 docs: Readme 작성
  README.md
Labels: documentation

#62 모먼트 리스트 스크롤 이슈 해결 및 상세 페이지 이동
  .github/workflows/android-cd.yml
  presentation/src/main/java/com/wakeup/presentation/adapter/BindingAdapters.kt
  presentation/src/main/java/com/wakeup/presentation/adapter/MomentPagingAdapter.kt
  presentation/src/main/java/com/wakeup/presentation/ui/detail/MomentDetailFragment.kt
  presentation/src/main/java/com/wakeup/presentation/ui/map/MapFragment.kt
  presentation/src/main/res/layout/bottom_sheet.xml
  presentation/src/main/res/layout/fragment_add_moment.xml
  presentation/src/main/res/layout/fragment_globe.xml
  presentation/src/main/res/layout/fragment_map.xml
  presentation/src/main/res/layout/fragment_moment_detail.xml
  presentation/src/main/res/layout/fragment_place_search.xml
  presentation/src/main/res/layout/item_moment.xml
  presentation/src/main/res/layout/toolbar_default.xml
  presentation/src/main/res/navigation/nav_graph.xml
  presentation/src/main/res/values-night/styles.xml
  presentation/src/main/res/values/styles.xml
Labels: :paintbrush: ui, :framed_picture: home, :framed_picture: detail

#63 모먼트 리스트 문제 해결
  .github/workflows/android-cd.yml
  presentation/src/main/java/com/wakeup/presentation/adapter/MomentPagingAdapter.kt
  presentation/src/main/java/com/wakeup/presentation/model/GlobeModel.kt
  presentation/src/main/java/com/wakeup/presentation/model/MomentModel.kt
  presentation/src/main/java/com/wakeup/presentation/model/PictureModel.kt
  presentation/src/main/java/com/wakeup/presentation/ui/map/MapFragment.kt
  presentation/src/main/java/com/wakeup/presentation/ui/map/MapViewModel.kt
  presentation/src/main/res/anim/fade_in.xml
  presentation/src/main/res/anim/fade_out.xml
  presentation/src/main/res/drawable/ic_globe.xml
  presentation/src/main/res/drawable/ic_home.xml
  presentation/src/main/res/layout/bottom_sheet.xml
  presentation/src/main/res/layout/fragment_add_moment.xml
  presentation/src/main/res/values/anim.xml
  presentation/src/main/res/values/dimens.xml
Labels: :paintbrush: ui, :framed_picture: home

#66 글로브 시작 UI 구현 및 + 버튼
  presentation/src/main/java/com/wakeup/presentation/adapter/DetailPictureAdapter.kt
  presentation/src/main/java/com/wakeup/presentation/adapter/GlobeAdapter.kt
  presentation/src/main/java/com/wakeup/presentation/adapter/PictureAdapter.kt
  presentation/src/main/java/com/wakeup/presentation/adapter/PlaceAdapter.kt
  presentation/src/main/java/com/wakeup/presentation/extension/Extensions.kt
  presentation/src/main/java/com/wakeup/presentation/lib/MogleDialog.kt
  presentation/src/main/java/com/wakeup/presentation/ui/globe/GlobeFragment.kt
  presentation/src/main/java/com/wakeup/presentation/ui/globe/GlobeViewModel.kt
  presentation/src/main/java/com/wakeup/presentation/ui/globe/GridSpaceItemDecoration.kt
  presentation/src/main/java/com/wakeup/presentation/util/ToolbarUtil.kt
  presentation/src/main/res/drawable/default_globe_image.png
  presentation/src/main/res/layout/dialog_add_globe.xml
  presentation/src/main/res/layout/fragment_globe.xml
  presentation/src/main/res/layout/item_globe.xml
  presentation/src/main/res/layout/toolbar_default.xml
  presentation/src/main/res/values/dimens.xml
  presentation/src/main/res/values/strings.xml
Labels: ✨ feature, :paintbrush: ui, 🖼️ globe

#69 홈화면 검색 기능 구현
  app/src/main/res/values/themes.xml
  presentation/src/main/java/com/wakeup/presentation/ui/MainActivity.kt
  presentation/src/main/java/com/wakeup/presentation/ui/map/MapFragment.kt
  presentation/src/main/java/com/wakeup/presentation/ui/map/MapViewModel.kt
  presentation/src/main/res/drawable/ic_menu.xml
  presentation/src/main/res/drawable/ic_mogle_black.png
  presentation/src/main/res/layout/activity_main.xml
  presentation/src/main/res/layout/bottom_sheet.xml
  presentation/src/main/res/layout/fragment_map.xml
  presentation/src/main/res/layout/item_menu.xml
  presentation/src/main/res/layout/layout_drawer.xml
  presentation/src/main/res/values/strings.xml
Labels: :paintbrush: ui, :framed_picture: home

#71 글로브 CRUD, 글로브내의 모먼트 조회
  data/src/main/java/com/wakeup/data/database/MogleDatabase.kt
  data/src/main/java/com/wakeup/data/database/dao/GlobeDao.kt
  data/src/main/java/com/wakeup/data/database/dao/MomentDao.kt
  data/src/main/java/com/wakeup/data/database/dao/XRefDao.kt
  data/src/main/java/com/wakeup/data/database/entity/MomentWithGlobesAndPictures.kt
  data/src/main/java/com/wakeup/data/database/mapper/GlobeEntityMapper.kt
  data/src/main/java/com/wakeup/data/database/mapper/MomentEntityMapper.kt
  data/src/main/java/com/wakeup/data/di/DataSourceModule.kt
  data/src/main/java/com/wakeup/data/di/DatabaseModule.kt
  data/src/main/java/com/wakeup/data/di/RepositoryModule.kt
  data/src/main/java/com/wakeup/data/repository/GlobeRepositoryImpl.kt
  data/src/main/java/com/wakeup/data/repository/MomentRepositoryImpl.kt
  data/src/main/java/com/wakeup/data/source/local/globe/GlobeLocalDataSource.kt
  data/src/main/java/com/wakeup/data/source/local/globe/GlobeLocalDataSourceImpl.kt
  data/src/main/java/com/wakeup/data/source/local/moment/MomentLocalDataSource.kt
  data/src/main/java/com/wakeup/data/source/local/moment/MomentLocalDataSourceImpl.kt
  domain/src/main/java/com/wakeup/domain/model/Globe.kt
  domain/src/main/java/com/wakeup/domain/repository/GlobeRepository.kt
  domain/src/main/java/com/wakeup/domain/usecase/CreateGlobeUseCase.kt
  domain/src/main/java/com/wakeup/domain/usecase/DeleteGlobeUseCase.kt
  domain/src/main/java/com/wakeup/domain/usecase/GetGlobesUseCase.kt
  domain/src/main/java/com/wakeup/domain/usecase/GetMomentsByGlobeUseCase.kt
  domain/src/main/java/com/wakeup/domain/usecase/SearchPlaceUseCase.kt
  domain/src/main/java/com/wakeup/domain/usecase/UpdateGlobeUseCase.kt
  presentation/src/main/java/com/wakeup/presentation/adapter/BindingAdapters.kt
  presentation/src/main/java/com/wakeup/presentation/factory/FakeMomentFactory.kt
  presentation/src/main/java/com/wakeup/presentation/mapper/GlobeModelMapper.kt
  presentation/src/main/java/com/wakeup/presentation/model/GlobeModel.kt
  presentation/src/main/java/com/wakeup/presentation/ui/addmoment/AddMomentViewModel.kt
  presentation/src/main/java/com/wakeup/presentation/ui/globe/GlobeViewModel.kt
  presentation/src/main/res/layout/fragment_add_moment.xml
Labels: ✨ feature, :file_cabinet: data, 🖼️ globe

#72 홈 화면 Fragment 관심사 분리
  domain/src/main/java/com/wakeup/domain/model/SortType.kt
  presentation/src/main/java/com/wakeup/presentation/adapter/MomentPagingAdapter.kt
  presentation/src/main/java/com/wakeup/presentation/extension/Extensions.kt
  presentation/src/main/java/com/wakeup/presentation/model/WeatherTheme.kt
  presentation/src/main/java/com/wakeup/presentation/ui/MainActivity.kt
  presentation/src/main/java/com/wakeup/presentation/ui/home/HomeFragment.kt
  presentation/src/main/java/com/wakeup/presentation/ui/home/HomeViewModel.kt
  presentation/src/main/java/com/wakeup/presentation/ui/home/map/MapFragment.kt
  presentation/src/main/java/com/wakeup/presentation/ui/home/map/MapHelper.kt
  presentation/src/main/java/com/wakeup/presentation/ui/home/sheet/BottomSheetFragment.kt
  presentation/src/main/java/com/wakeup/presentation/ui/map/MapFragment.kt
  presentation/src/main/res/drawable/ic_mogle_black.png
  presentation/src/main/res/drawable/ic_mogle_black.xml
  presentation/src/main/res/layout/activity_main.xml
  presentation/src/main/res/layout/fragment_bottom_sheet.xml
  presentation/src/main/res/layout/fragment_home.xml
  presentation/src/main/res/layout/fragment_map.xml
  presentation/src/main/res/navigation/nav_graph.xml
Labels: :paintbrush: ui, :framed_picture: home

#73 지도에 모먼트 미리보기 뷰 띄우기
  data/src/main/java/com/wakeup/data/database/dao/MomentDao.kt
  data/src/main/java/com/wakeup/data/repository/MomentRepositoryImpl.kt
  data/src/main/java/com/wakeup/data/source/local/moment/MomentLocalDataSource.kt
  data/src/main/java/com/wakeup/data/source/local/moment/MomentLocalDataSourceImpl.kt
  domain/src/main/java/com/wakeup/domain/repository/MomentRepository.kt
  domain/src/main/java/com/wakeup/domain/usecase/GetAllMomentsUseCase.kt
  presentation/src/main/java/com/wakeup/presentation/adapter/BindingAdapters.kt
  presentation/src/main/java/com/wakeup/presentation/extension/Extensions.kt
  presentation/src/main/java/com/wakeup/presentation/ui/home/HomeViewModel.kt
  presentation/src/main/java/com/wakeup/presentation/ui/home/map/MapFragment.kt
  presentation/src/main/java/com/wakeup/presentation/ui/home/map/MapHelper.kt
  presentation/src/main/res/drawable/bg_marker_pink.xml
  presentation/src/main/res/drawable/bg_marker_pink_webp.webp
  presentation/src/main/res/drawable/ic_no_image.xml
  presentation/src/main/res/layout/fragment_map.xml
  presentation/src/main/res/layout/item_map_marker.xml
  presentation/src/main/res/layout/item_moment_preview.xml
  presentation/src/main/res/values/dimens.xml
Labels: ✨ feature, :paintbrush: ui, :framed_picture: home

#77 마커 클릭 관련 버그 수정
  presentation/src/main/java/com/wakeup/presentation/ui/home/map/MapFragment.kt
  presentation/src/main/java/com/wakeup/presentation/ui/home/map/MapHelper.kt
Labels: :paintbrush: ui, :framed_picture: home, :wrench: bugFix
